.event-item {
  background-color: rgb(196, 193, 190) !important;
  border-radius: 30px !important;
}

.container {
  background-color: rgb(175, 170, 170);
  margin-top: 30px;
  border-radius: 30px;
}

.container2 {
  background-color: rgb(155, 151, 151);
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 100px !important;
}