// #launch { 
//   width: 200px !important;
//   height: auto !important;
// }

#launch {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: rgb(7, 110, 32); -webkit-box-shadow: 0 0 3px rgb(7, 110, 32); }
  50% { background-color: rgb(14, 177, 35); -webkit-box-shadow: 0 0 40px rgb(14, 177, 35); }
  100% { background-color: rgb(7, 110, 32); -webkit-box-shadow: 0 0 3px rgb(7, 110, 32); }
}

@-moz-keyframes glowing {
  0% { background-color: rgb(7, 110, 32); -moz-box-shadow: 0 0 3px rgb(7, 110, 32); }
  50% { background-color: rgb(14, 177, 35); -moz-box-shadow: 0 0 40px rgb(14, 177, 35); }
  100% { background-color: rgb(7, 110, 32); -moz-box-shadow: 0 0 3px rgb(7, 110, 32); }
}

@-o-keyframes glowing {
  0% { background-color: rgb(7, 110, 32); box-shadow: 0 0 3px rgb(7, 110, 32); }
  50% { background-color: rgb(14, 177, 35); box-shadow: 0 0 40px rgb(14, 177, 35); }
  100% { background-color: rgb(7, 110, 32); box-shadow: 0 0 3px rgb(7, 110, 32) }
}

@keyframes glowing {
  0% { background-color: rgb(7, 110, 32); box-shadow: 0 0 3px rgb(7, 110, 32); }
  50% { background-color: rgb(14, 177, 35); box-shadow: 0 0 40px rgb(14, 177, 35); }
  100% { background-color: rgb(7, 110, 32); box-shadow: 0 0 3px rgb(7, 110, 32); }
}